.addButton button{
    display: flex;
    border: none;
    background-color: rgb(36, 129, 46);
    border-radius: 8px;
    width: 500px;
    height: 90px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

.cadastrar{
    font-size: 30px;
    color: aliceblue;
    font-weight: 600;

}

.mais{
    color:  rgb(255, 255, 255);;
    font-weight: 600;
    font-size: 50px;
    margin-left: 25px;
}