.botao button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(204, 10, 10);
    border-radius: 5px;
    width: auto;
    height: 40px;
    cursor: pointer;

}

.x{
    color: rgb(204, 10, 10);;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    width: 15px;
    height: auto;
    font-weight: 600;
}

.remover{
    color: rgb(255, 255, 255);
    font-weight: 600;
 
}